@import url("https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap");

body {
  background-color: #05b5ae;
}

.contenedor {
  display: grid;
  max-width: 500px;
  margin: auto;
}

.interface {
  border: 5px solid #a93226;
  border-radius: 30px;
  padding: 20px;
  background: #e74c3c;
}

.title {
  border: 2px solid #a93226;
  background: #fff;
  font-family: "Press Start 2P", cursive;
  text-align: center;
  color: #a93226;
}

.body-pokedex {
  border: 2px solid #a93226;
  text-align: center;
}

.display {
  border: 2px hidden;
  border-radius: 5px;
  background: #fff;
  margin: 1rem;
}

.imgPokemon {
  width: 50%;
}

span {
  font-family: "Press Start 2P", cursive;
  color: #707b7c;
}

.controls {
  border: 2px solid #a93226;
}

.circle {
  margin: 6px;
  width: 100px;
  height: 100px;
  background: linear-gradient(180deg, #7fb3d5 0%, #154360 100%);
  border: 1px hidden;
  border-radius: 50px;
}
